<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ESVConnect Application Test Automation Test Suite">
    <listeners>
        <listener class-name="utils.Listeners.TestListener"/>
        <listener class-name="utils.Listeners.AnnotationTransformer"/>
    </listeners>
   <!-- <test name="ESVConnect Test Cases using Chrome">
       <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="com.esvconnect.qa.testcases.COCDetailsPageTest"></class>
        </classes>
    </test> -->
    <test name="ESVConnect Test Cases using FF">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="com.esvconnect.qa.testcases.COCDetailsPageTest"></class>
        </classes>
    </test>
   <!--  <test name="ESVConnect Test Cases using EDGE">
        <parameter name="browser" value="Edge"/>
        <classes>
            <class name="com.esvconnect.qa.testcases.COCDetailsPageTest"></class>
        </classes>
    </test> -->

</suite>